.restaurant {
    display: flex;
}

.restaurant__wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 600px) minmax(0, 640px);
}

.restaurant__descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 60px;
}

.reataurant__promo {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.restaurant__advantages {
    display: flex;
    flex-direction: row;
}

.restaurant__advantages-list {
    display: flex;
    flex-direction: column;
}




.restaurant__advantages-list {
    display: flex;
    flex-direction: column;
}